<div data-tasks-tree-target="group" data-update-url="<%= update_position_group_path(group) %>" data-id="<%= group.id %>" <% if !group.default? %>data-is-draggable="true"<% end %>>
  <% if !group.default? %>
    <div class="d-flex w-100 mb-2">
      <div class="align-top me-2 text-body-tertiary group-handle" style="margin-top:-0.1rem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
          <path d="M9 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M9 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M9 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        </svg>
      </div>

      <div class="ms-1 w-100">
        <strong><%= link_to group.title, group, class: 'text-reset text-decoration-none' %></strong>
      </div>
    </div>
  <% end %>


  <div data-tasks-tree-target="tasksContainer" id="<%= dom_id(group, :ongoing_tasks) %>" style="min-height: 1px; margin-top: -1px;">
    <% group.tasks.ongoing.ordered_by_position.each do |task| %>
      <%= render(InnerPlan::Tasks::RowComponent.new(task, context: local_assigns[:context])) %>
    <% end %>
  </div>
</div>
