<turbo-frame id="<%= dom_id(@group, :header) %>">
  <header>
    <%= render(InnerPlan::BreadcrumbsComponent.new) do |c| %>
      <% c.with_breadcrumb do %>
        <%= link_to 'Home', root_path, class: 'text-reset', data: { turbo_frame: :_top } %>
      <% end %>

      <% c.with_breadcrumb(active: true) do %>
        <%= link_to @group.list.title, @group.list, class: 'text-reset', data: { turbo_frame: :_top } %>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-10">
        <h1 class="h2">
          <%= link_to @group.title, edit_group_path(@group), class: 'text-reset text-decoration-none' %>
          <small class="fs-6 text-body-tertiary"><%= @group.tasks.completed.count %>/<%= @group.tasks.count %></small>
        </h1>
      </div>

      <div class="col-2 text-end">
        <%= render(InnerPlan::Groups::ShowMenuComponent.new(@group)) %>
      </div>
    </div>

    <%= render(InnerPlan::ProgressBarSeparatorComponent.new(completed: @group.tasks.completed.count, total: @group.tasks.count)) %>
  </header>

  <div class="mb-4 mt-3">
    <%= @group.description %>
  </div>
</turbo-frame>

<div data-controller="tasks" data-tasks-list-id="<%= @group.id %>" id="<%= dom_id(@group, :ongoing_tasks) %>">
  <% @group.tasks.ongoing.ordered_by_position.each do |task| %>
    <%= render(InnerPlan::Tasks::RowComponent.new(task, context: :groups_show)) %>
  <% end %>
</div>

<div class="mt-2 mb-4">
  <turbo-frame id="<%= dom_id(@group, :add_task) %>">
    <a href="<%= new_list_task_path(@group) %>" class="btn btn-outline-secondary btn-sm ms-tasks-element">
      Add a to-do
    </a>
  </turbo-frame>
</div>

<div id="<%= dom_id(@group, :completed_tasks) %>">
  <% @group.tasks.completed.each do |task| %>
    <%= render(InnerPlan::Tasks::RowComponent.new(task, context: :groups_show)) %>
  <% end %>
</div>
