<header class="mb-5">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '›';" >
    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item text-body-tertiary"><a href="<%= root_path %>" class="text-reset">Home</a></li>
      <li class="breadcrumb-item active text-body-tertiary" aria-current="page"><%= link_to @group.list.title, @group.list, class: 'text-reset' %></li>
    </ol>
  </nav>

  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="h2 text-center"><%= @group.title %> <small class="fs-6 text-body-tertiary"><%= @group.tasks.completed.count %>/<%= @group.tasks.count %></small></h1>
    </div>
  </div>

  <div class="progress mt-2" role="progressbar" style="height: 2px;" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: <%= percent(@group.tasks.completed.count, @group.tasks.count) %>%"></div>
  </div>
</header>

<div data-controller="tasks-tree">
  <div data-tasks-tree-target="tasksContainer" id="<%= dom_id(@group, :ongoing_tasks) %>">
    <%= render @group.tasks.ongoing.ordered_by_position, cached: true %>
  </div>
</div>

<div id="<%= dom_id(@group, :completed_tasks) %>">
  <%= render collection: @group.tasks.completed, partial: 'inner_plan/tasks/task' %>
</div>
