<header class="mb-3">
  <%= render(InnerPlan::BreadcrumbsComponent.new) do |c| %>
    <% c.with_breadcrumb do %>
      <%= link_to 'Home', root_path, class: 'text-reset', data: { turbo_frame: :_top } %>
    <% end %>

    <% c.with_breadcrumb do %>
      <%= link_to @task.group.list.title, @task.group.list, class: 'text-reset' %>
    <% end %>

    <% unless @task.group.default? %>
      <% c.with_breadcrumb do %>
        <%= link_to @task.group.title, @task.group, class: 'text-reset' %>
      <% end %>
    <% end %>

    <% c.with_breadcrumb do %>
      <%= link_to "Task ##{@task.id}", task_path(@task), class: 'text-reset' %>
    <% end %>

    <% c.with_breadcrumb(active: true) { "Edit" } %>
  <% end %>
</header>

<%= form_with model: @task do |f| %>
  <div class="d-flex mb-2">
    <div class="text-end me-2 opacity-50">
      <%= content_tag :a, style: 'display:block; margin-top: -0.1rem;margin-left:-0.6rem', data: { turbo: true, turbo_stream: true } do %>
        <%= render(Phlex::Icons::Tabler::SquareRounded.new(width: 39, height: 39)) %>
      <% end %>
    </div>

    <div class="w-100">
      <%= f.text_field :title, class: 'form-control form-control-lg', rows: 1 %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex mt-4">
        <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
          <%= render(Phlex::Icons::Tabler::User.new(width: 24, height: 24)) %>
        </div>

        <div class="mw-100">
          <h6>Assigned to</h6>

          <div class="w-100 pe-5">
            <%= f.combobox :assigned_user_ids,
                           users_path,
                           multiselect_chip_src: combobox_chips_users_path %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex mt-4">
        <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
          <%= render(Phlex::Icons::Tabler::CalendarDue.new(width: 24, height: 24)) %>
        </div>

        <div>
          <h6>Due on</h6>
          <%= f.date_field :due_on, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mt-4 mb-4">
    <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
      <%= render(Phlex::Icons::Tabler::FileText.new(width: 24, height: 24)) %>
    </div>

    <div class="pe-4">
      <h6>Description</h6>

      <turbo-frame id="<%= dom_id(@task, :description) %>">
        <%= f.rich_textarea :description %>
      </turbo-frame>
    </div>
  </div>

  <%= f.submit 'Save changes', class: 'btn btn-success btn-sm' %>
  <%= link_to 'Cancel', task_path(@task), class: 'btn btn-outline-secondary btn-sm' %>
<% end %>
