<header class="mb-3">
  <%= render(InnerPlan::BreadcrumbsComponent.new) do |c| %>
    <% c.with_breadcrumb do %>
      <%= link_to 'Home', root_path, class: 'text-reset', data: { turbo_frame: :_top } %>
    <% end %>

    <% c.with_breadcrumb do %>
      <%= link_to @task.group.list.title, @task.group.list, class: 'text-reset' %>
    <% end %>

    <% unless @task.group.default? %>
      <% c.with_breadcrumb do %>
        <%= link_to @task.group.title, @task.group, class: 'text-reset' %>
      <% end %>
    <% end %>

    <% c.with_breadcrumb(active: true) { "Task ##{@task.id}" } %>
  <% end %>
</header>

<div class="d-flex mb-2">
  <div class="text-end me-2">
    <div style="display:block; margin-top: -0.2rem; margin-left:-0.8rem">
      <%= render(InnerPlan::Tasks::CompletedTogglerComponent.new(@task, context: :tasks_show, size: 39)) %>
    </div>
  </div>

  <div class="w-100">
    <h1 class="h3">
      <%= link_to @task.title, edit_task_path(@task), class: 'text-reset text-decoration-none' %>
    </h1>
  </div>

  <div class="text-end">
    <%= render(InnerPlan::Tasks::ShowMenuComponent.new(@task)) %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="d-flex mt-4">
      <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
        <%= render(Phlex::Icons::Tabler::User.new(width: 24, height: 24)) %>
      </div>

      <div>
        <h6>Assigned to</h6>

        <% if @task.assigned_users.any? %>
          <%= @task.assigned_users.map do |user| %>
            <% render(InnerPlan::UserWithAvatarComponent.new(user)) %>
          <% end.to_sentence.html_safe %>
        <% else %>
          <a href="<%= edit_task_path(@task) %>" class="text-decoration-none text-body-tertiary">
            Select assignees...
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="d-flex mt-4">
      <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
        <%= render(Phlex::Icons::Tabler::CalendarDue.new(width: 24, height: 24)) %>
      </div>

      <div>
        <h6>Due on</h6>

        <a href="<%= edit_task_path(@task) %>" class="<%= class_names('text-decoration-none', 'text-body-tertiary' => @task.due_on.blank?, 'text-reset' => @task.due_on.present?) %>">
          <% if @task.due_on %>
            <%= @task.due_on.strftime('%a, %b %e, %Y') %>
          <% else %>
            Select a date...
          <% end %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex mt-4">
  <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
    <%= render(Phlex::Icons::Tabler::FileText.new(width: 24, height: 24)) %>
  </div>

  <div class="pe-4">
    <h6>Description</h6>

    <% if @task.description.present? %>
      <%= @task.description %>
    <% else %>
      <a href="<%= edit_task_path(@task) %>" class="<%= class_names('text-decoration-none', 'text-body-tertiary' => @task.description.blank?, 'text-reset' => @task.description.present?) %>">
        Click to add description...
      </a>
    <% end %>
  </div>
</div>

<div class="d-flex mt-4">
  <div class="me-3 text-body-tertiary" style="margin-top:-0.2rem">
    <%= render(Phlex::Icons::Tabler::CirclePlus.new(width: 24, height: 24)) %>
  </div>

  <div class="pe-4">
    <h6>Created by</h6>

    <div class="text-body-tertiary">
      <%= render(InnerPlan::UserWithAvatarComponent.new(@task.user)) %> on <%= @task.created_at.strftime('%a, %b %e, %Y') %>
    </div>
  </div>
</div>
