<header class="mb-4">
  <div class="row">
    <div class="col-6">
      <h1 class="h2">
        Tasks
        <small class="fs-6 text-body-tertiary">
          <%= InnerPlan::Task.completed.count %>/<%= InnerPlan::Task.all.count %>
        </small>
      </h1>
    </div>

    <div class="col-6 text-end">
      <%= link_to '+ New list', new_list_path, class: 'btn btn-success', data: { turbo_frame: dom_id(InnerPlan::List.new, :form) } %>
    </div>
  </div>

  <%= render(InnerPlan::ProgressBarSeparatorComponent.new(completed: InnerPlan::Task.completed.count, total: InnerPlan::Task.all.count)) %>
</header>

<div data-controller="tasks-tree">
  <% @lists.each do |list| %>
    <%= render partial: 'inner_plan/lists/list', locals: { list: list, context: :lists_index } %>
  <% end %>
</div>
