<turbo-frame id="<%= dom_id(@list, :header) %>">
  <header>
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '›';">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item text-body-tertiary"><a href="<%= root_path %>" class="text-reset" data-turbo-frame="_top">Home</a></li>
        <li class="breadcrumb-item active text-body-tertiary" aria-current="page">List #<%= @list.id %></li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-12">
        <h1 class="h2">
          <%= link_to @list.title, edit_list_path(@list), class: 'text-reset text-decoration-none' %>

          <small class="fs-6 text-body-tertiary">
            <%= @list.tasks.completed.count %>/<%= @list.tasks.count %>
          </small>
        </h1>
      </div>
    </div>

    <%= render 'inner_plan/shared/progress_separator', completed_count: @list.tasks.completed.count, total_count: @list.tasks.count %>
  </header>

  <div class="mb-4 mt-3">
    <%= @list.description %>
  </div>
</turbo-frame>

<div data-controller="tasks-tree">
  <div data-tasks-tree-target="groupsContainer">
    <% groups = @list.groups.ordered_by_position %>
    <% groups.each_with_index do |group, index| %>
      <%= render partial: 'inner_plan/groups/group',
                  locals: { group: group, show_new_task_form: index == groups.size - 1 } %>
    <% end %>
  </div>
</div>

<div class="mt-3">
  <%= render partial: 'inner_plan/tasks/completed_tasks', locals: { list: @list } %>
</div>
